{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User id</th>
            <th scope="col">Ext Auth</th>
            <th scope="col">reader</th>
            <th scope="col">writer</th>
            <th scope="col">admin</th>
        </tr>
    </thead>
    <tbody>
        {% for item in view_model.users %}
        <tr>
            <form action="/admin/save" method="post">
                <input type="hidden" name="user_id" id="user_id" value={{item.id}}>
                <th scope="row">{{item.user_name}}</th>
                <td>
                    {{item.ext_system}}
                </td>
                <td>
                    <div class="form-check">
                        {% if item.is_reader == True %}
                        <input class="form-check-input" name="is_reader" type="checkbox" value="True"
                            id="flexCheckDefault" checked onChange="this.form.submit()">
                        {% else %}
                        <input class="form-check-input" name="is_reader" type="checkbox" value="Changing"
                            id="flexCheckDefault" onChange="this.form.submit()">
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        {% if item.is_writer == True %}
                        <input class="form-check-input" name="is_writer" type="checkbox" value="True"
                            id="flexCheckDefault" checked onChange="this.form.submit()">
                        {% else %}
                        <input class="form-check-input" name="is_writer" type="checkbox" value="Changing"
                            id="flexCheckDefault" onChange="this.form.submit()">
                        {% endif %}
                    </div>
                </td>

                <td>
                    <div class="form-check">

                        {% if item.is_admin == True %}
                        <input class="form-check-input" name="is_admin" type="checkbox" value="True"
                            id="flexCheckDefault" checked onChange="this.form.submit()">
                        {% else %}
                        <input class="form-check-input" name="is_admin" type="checkbox" value="Changing"
                            id="flexCheckDefault" onChange="this.form.submit()">
                        {% endif %}

                    </div>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}