{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<h4>New Item </h4>
<div>
  <form action="" method="post">
    {% if view_model.can_write == True %}
    <input type="text" name="title" id="title" required>
    <input type="submit" value="Add">
    {% endif %}
  </form>
</div>
<br />
<div class="row">
  <div class="col-md-4">
    <h4>To Do</h4>
    <ul class="list-group mb-4" data-cy="to-do">
      {% for item in view_model.todo_items %}
      <div class="alert alert-success" role="alert">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4> {{item.name}} </h4>
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
              <form action="/start" method="post">
                <input type="hidden" name="item_id" id="itme_id" value={{item.id}}>
                {% if view_model.can_write == True %}
                <input type="submit" class="btn btn-outline-success justify-content-md-end" value="Start">
                {% else %}
                <input type="submit" class="btn btn-outline-success justify-content-md-end" value="Start"
                  disabled="true">
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor%}
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Doing</h4>
    <ul class="list-group mb-4" data-cy="doing">
      {% for item in view_model.doing_items %}
      <div class="alert alert-success" role="alert">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4> {{item.name}} </h4>
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
              <form action="/complete" method="post">
                <input type="hidden" name="item_id" id="itme_id" value={{item.id}}>
                <input type="submit" class="btn btn-outline-success justify-content-md-end" value="Complete">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor%}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Done</h4>
    <ul class="list-group mb-4" data-cy="done">
      {% for item in view_model.all_done_items %}
      <div class="alert alert-secondary" role="alert">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4> {{item.name}} </h4>
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
              <form action="/open" method="post">
                <input type="hidden" name="item_id" id="itme_id" value={{item.id}}>
                <input type="submit" class="btn btn-outline-success justify-content-md-end" value="Open">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor%}
    </ul>
  </div>
</div>
{% endblock %}