{% extends "layout_login.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-2">
        </div>
        <div class="col-md-4 col-sm-8">
            <div class="list-group">
                <a href="/login/gitlab" class="list-group-item list-group-item-action list-group-item-info">Login with
                    Git Lab</a>
                <a href="/login/github" class="list-group-item list-group-item-action list-group-item-info">Login with
                    Git Hub</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-2">
        </div>
    </div>
</div>

{% endblock %}